<nav class="mobile-menu">
	<div class="mobile-menu-item">
		<ul >
			<li><a href="#"><img src="../img/menu-icon-1.png" alt="">Головна</a></li>
			<li><a href="#"><img src="../img/menu-icon-2.png" alt="">Новини</a></li>
			<li><a href="#"><img src="../img/menu-icon-4.png" alt="">Медіа</a></li>
			<li><a href="#"><img src="../img/menu-icon-3.png" alt="">Пряме включення</a></li>
			<li><a href="#"><img src="../img/menu-icon-5.png" alt="">Контакти</a></li>
		</ul>
	</div>
</nav>
<header id="header">
	<div class="top-menu">
		<div class="header-left">
			<div class="menu-burger"><span class="menu-burger-item"></span></div>
		</div>
		<div class="header-right">
			<a href="#" class="city"><img src="../img/city.png" alt=""><p>Київ</p><img class="city-arrow-d" src="../img/city-arrow-d.png" alt=""></a>
			<div class="city-list">
				<a href="#" class="active">Київ</a> 
				<a href="#">Чернігів</a> 
				<a href="#">Житомир</a> 
				<a href="#">Луцьк</a> 
				<a href="#">Чернівці</a> 
				<a href="#">Ів. Франківськ</a> 
				<a href="#">Вінниця</a> 
				<a href="#">Кіровоград</a> 
				<a href="#">Миколаїв</a>
			</div>
		</div>
	</div>
	<div class="bottom-menu">
		<a href="#" class="main"><img src="../img/arrow-red.png" alt="">На головну</a>
		<div class="bottom-menu-right">
			<a href="#">
				<div class="bottom-menu-burger">
					<span class="menu-burger-item"></span>
				</div>
				<p>Меню міста</p>
			</a>
			<div class="menu-city-items">
				<a href="#">Про захід</a> 
				<a href="#">Дистанції</a> 
				<a href="#">Партнери</a> 
				<a href="#">Місто Київ</a>
			</div>
		</div>
	</div>
</header>